/* Supplementary CSS for bootstrap */

/* ########## Shop Name  ########## */

/* Font for shop name */
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

#shopName {
  font-family: 'Spicy Rice', cursive;
  font-size: 1.5em;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.8em;
}

#shopSlogan {
  font-family: 'Spicy Rice', cursive;
  font-size: 1em;
}

/* ########## 404 Page ########## */

#xl-text {
  font-size: 10em;
}

/* ########## Whole Page ########## */
#access-bar {
  background-color: #ff9999; /* To showcase height; change later*/
  height: 3em;
}

/* ########## Front Page Hero ########## */
#welcome-hero {
  background-image: url(./JambyRuthHartnup.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* Add the blur effect */
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  z-index: 0;
}

/* ########## Cart View ########## */

#jelly-in-cart {
  font-size: 1.25em;
}

#maker-in-cart {
  line-height: 0;
  font-size: 0.85em;
  font-style: italic;
}
#delete-cart-item {
  font-size: 0.75em;
}

/* ########## All Pages ########## */

body {
  position: relative;
  font-family: sans-serif;
  background: repeat;
  background-image: url(./restaurant_icons.png);
  /* background-image: url(./retina_wood.png); */
  /* background-image: url(./crisp_paper_ruffles.png); */
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2em;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-active {
  color: green;
}

#navbar-main {
  display: flex;
  align-content: center;
}
