/* Supplementary CSS for bootstrap */

/* Font for shop name */
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

#shopName {
  font-family: 'Spicy Rice', cursive;
  font-size: 1.5em;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.8em;
}

#shopSlogan {
  font-family: 'Spicy Rice', cursive;
  font-size: 1em;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-active {
  color: green;
}

#navbar-main {
  display: flex;
  align-content: center;
}
